#choiceImageBorderPane {
    -fx-border-width: 2;
    -fx-border-radius: 50;
    -fx-border-color: darkred;
    -fx-background-radius: 50;
    -fx-background-color: white;
}

#mainMenuContainer {
    -fx-border-width: 2;
    -fx-border-color: darkred;
    -fx-border-radius: 70;
    -fx-background-radius: 70;
    -fx-background-color:
            linear-gradient(yellow, orange, orangered, red, darkred);
    -fx-padding: 10;
    -fx-spacing: 10;
}

#mainButtonsContainer {
    -fx-alignment: center;
}


#mainButtonsContainer {
   -fx-font-family: "Courier 10 Pitch";
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

#mainButtonsContainer .button {
    -fx-cursor: HAND;
    -fx-background-color: linear-gradient(yellow, orange, yellow);
    -fx-background-radius: 3;
    -fx-border-color: yellow;
    -fx-border-insets: -2;
    -fx-border-width: 3;
    -fx-border-radius: 5;
}

#toggleButtonsContainer .toggle-button {
    -fx-cursor: HAND;
    -fx-opacity: 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

#toggleButtonsContainer .toggle-button:selected {
    -fx-cursor: HAND;
    -fx-opacity: 0.5;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

#firstToggleButton {
    -fx-background-color:
            radial-gradient(center 50% -40%, radius 200%, #56dbff 45%, #4e76c8 50%);
}

#secondToggleButton {
    -fx-background-color:
            radial-gradient(center 50% -40%, radius 200%, #ffc419 45%, #fff156 50%);
}

#thirdToggleButton {
    -fx-opacity: 0.7;
    -fx-background-color:
            radial-gradient(center 50% -40%, radius 200%, orange 45%, orangered 50%);
}

